body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    color: #48e;
    font-size: 2em;
}

.main__container{
    text-align: center;
}

.main__container p{
    padding: 80px;
}

.main__image {
    width: 80%;
}

img {
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding-left: 20px;
}

p {
    font-size: 1em;
}

.image__container {
    max-width: 700px;
}

.header__container {
    text-align: center;
}